## category code 정리  
원피스   
- 미니 원피스 : 020006

### column
- category
- sub_category
- item_id
- img_url

In [121]:
import requests
from bs4 import BeautifulSoup
from datetime import date, timedelta
import pandas as pd

In [122]:
#원피스 > 미니 원피스 크롤링
sub_category = '020006'
page_num = '1'
sort = 'pop&sub_sort'
url = 'https://search.musinsa.com/category/'+category +'?device=&d_cat_cd=020006&brand=&rate=&page_kind=search&list_kind=small&sort=' +sort+'=&page='+page_num+'&display_cnt=90&sale_goods=&ex_soldout=&color=&price1=&price2=&exclusive_yn=&size=&tags=&sale_campaign_yn=&timesale_yn=&q='

req = requests.get(url)
raw = req.text

html = BeautifulSoup(raw, 'html.parser')

In [123]:
#item-id, img_url, category, sub_category, page_num
item_id_c = []
img_url_c = []
category_c = '020'
sub_category_c = sub_category
page_num_c = []

In [124]:
total_page_num= html.select('span.totalPagingNum')[0].get_text()#24
print(total_page_num)
90*24=

In [125]:
sub_category = '020006'
sort = 'pop&sub_sort'

In [128]:
for i in range(int(total_page_num)):
    page_num = str(i)
    url = 'https://search.musinsa.com/category/'+category +'?device=&d_cat_cd=020006&brand=&rate=&page_kind=search&list_kind=small&sort=' +sort+'=&page='+page_num+'&display_cnt=90&sale_goods=&ex_soldout=&color=&price1=&price2=&exclusive_yn=&size=&tags=&sale_campaign_yn=&timesale_yn=&q='
    req = requests.get(url)
    raw = req.text

    html = BeautifulSoup(raw, 'html.parser')
    items = html.select('li.li_box')

    for item in items:
        item_id_c.append(item['data-no'])
        img_url_c.append(item.img['data-original'])
        page_num_c.append(i)

In [ ]:
#html.select('label.is_goods')[0].get_text() #' 상품 수 : 2,104개'
#total_page_num= html.select('span.totalPagingNum')[0].get_text()#24
#html.select('span.currentPagingNum')[0].get_text()#1
#items = html.select('li.li_box') 
#print(len(items)) #90
#items[0]['data-no'] #1854456
#items[0].img['data-original']  #'https://image.msscdn.net/images/goods_img/20210319/1854456/1854456_1_125.jpg'

In [131]:
df.head()

  category  item_id
0      NaN  1854456
1      NaN  1854456
2      NaN  1854413
3      NaN  1854457
4      NaN  1854414

In [142]:
print(len(item_id_c), len(img_url_c),len(page_num_c))

2160 2160 2160

In [151]:
df = pd.DataFrame()
df['item_id'] = item_id_c
df['img_url'] = img_url_c
df['sub_category'] = '020006'
df['category'] = '020'
df['page_num']=page_num_c
df['date'] = date.today().isoformat() #'yyyy-mm-dd'

In [152]:
df.category = df.category.astype('str') #앞자리가 0이면 사라져서 다시 str으로 변환
df.sub_category = df.sub_category.astype('str')

In [153]:
df.head()

,item_id,img_url,sub_category,category,page_num,date
0,1854456,https://image.msscdn.net/images/goods_img/2021...,020006,020,0,2021-03-24
1,1854413,https://image.msscdn.net/images/goods_img/2021...,020006,020,0,2021-03-24
2,1854457,https://image.msscdn.net/images/goods_img/2021...,020006,020,0,2021-03-24
3,1854414,https://image.msscdn.net/images/goods_img/2021...,020006,020,0,2021-03-24
4,1854458,https://image.msscdn.net/images/goods_img/2021...,020006,020,0,2021-03-24

In [154]:
df.to_csv('mini_onepiece(020006)_210324.csv')

In [155]:
len(df['item_id'].unique())

2070